* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 .seo {
    color:#d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 /*used in the footer*/ {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.nav-bar {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

.nav-bar a /* for links in the navigation menu*/ {
    float: right;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); /*This is the hero image*/
    background-size: cover;
    background-position: center;
}

.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;}

.services img {
    max-height: 200px;
}

.float-left /*for the images in services section*/ {
    float: left;
    margin-right: 25px;
}

.float-right /*for the images in services section*/ { 
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits-content {
    margin-bottom: 32px;
    color:#ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}